footer {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    height: 5vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: darkseagreen;
    color: white;
    display: flex;

}