.header {
    background-color: darkseagreen;
    padding: 1rem;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    display: inline-block;
    color: white;
}